node_modules
.tmp
.sass-cache
coverage/
app/bower_components
heroku
lib-cov
*.seed
*.log
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
.npmrc

node_modules/
bower_components/
*.log

build/
dist/
public/static/*

.idea
.DS_Store
.bundle
vendor
coverage.html

.ruby-version
/.vimrc
/.ackrc

xunit.xml

/protocol/js
/protocol/ruby

yarn.lock

junit*.xml
junit/

app/packages/test/load/user_creds.csv
bringg-development/
localhost:3000/
app/translations/

.vscode/
/config/local*.json
test.txt
config/local-*.json

/reports
